@using HST.Art.Web
@using HST.Art.Core

@model DetailViewModel
<div class="list_fr fr details">
    <h4 class="title">@Model.Title</h4>
    <p class="tip">@Model.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
    <div>
        @Html.Raw(Model.Description)
    </div>
</div>