@using HST.Art.Web
@using HST.Art.Core

@model SidebarViewModel
<p class="list_ti">最新信息</p>
<div class="list_new">
    @if (Model.NewestList != null && Model.NewestList.Count > 0)
    {
        foreach (WebArticleViewModel item in Model.NewestList)
        {
            <div class="list_div">
                <a href="#">
                    <p class="list_p fl"><b>@item.CreateTime.ToString("dd")</b>@item.CreateTime.ToString("yyyy-MM")</p>
                    <div class="list_fr_n fr">
                        <p>@item.Synopsis</p>
                        <span>@item.CreateTime.ToString("HH:mm")</span>
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <p class="not-data">暂无数据</p>
    }
</div><!--/list_new-->
